# Global
.*.swp
.DS_Store

# Website
Website

# Game
Game

# Wiki
Wiki

# Database
data

# SSL Certs
etc/ssl/

get-docker\.sh

etc/nginx/logs/*
!etc/nginx/logs/empty

Splunk/opt-splunk-etc/*
!Splunk/opt-splunk-etc/empty

Splunk/opt-splunk-var/*
!Splunk/opt-splunk-var/empty

*.log
