# Global
.*.swp
.DS_Store

# Website
Open-RSC-Website

# Game
Open-RSC

# Netbeans
nbproject/
/nbproject/
/nbproject/private/
/nbproject/private/private.properties

# SSL Certs
etc/ssl/

# Database
data
